{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Paiso</title>

    <!-- Firebase -->

    <script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAgP4An6eHDYsqcVP81z6xseSDj-JgWe-s",
        authDomain: "paiso-cf9c0.firebaseapp.com",
        databaseURL: "https://paiso-cf9c0.firebaseio.com",
        storageBucket: "paiso-cf9c0.appspot.com",
        messagingSenderId: "1032299703097"
    };
    firebase.initializeApp(config);

    var userApi = "{% url 'user_api' %}";
    var transactionApi = "{% url 'transaction_api' %}";
    var contactApi = "{% url 'contact_api' %}";
    </script>

    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/sign-in.js' %}"></script>
    <script src="{% static 'js/transactions.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,400,500" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
{% verbatim %}
<body ng-app="paiso" ng-controller="mainController">
    <header>
        <h1>Paiso</h1>
        <a><span>{{ auth.user.displayName }}</span><i class="fa fa-chevron-down"></i></a>
    </header>
    <aside>
        <div id="search-box">
            <i class="fa fa-search"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
        </div>
        <div id="users">
            <div ng-repeat="contact in contacts | filter:searchText" class="user">
                <img class="avatar" ng-src="{{ contact.photoUrl }}">
                <div class="user-info">
                    <div class="name">{{ contact.displayName }}</div>
                    <div class="extra">{{ contact.email }}</div>
                </div>
                <div class="amount">{{ contact.amount }}</div>
            </div>
        </div>
    </aside>
    <main>
        <div ng-repeat="contact in contacts" class="user-detail">
            <header>{{ contact.displayName }}</header>
            <div ng-repeat="transaction in contact.transactions" class="transaction">
                <div class="title">{{ transaction.title }}</div>
                <div class="amount">{{ transaction.amount }}</div>
                <date>{{ transaction.timestamp | date:'yyyy-MM-dd HH:mm' }}</date>
            </div>
        </div>
    </main>
</body>
{% endverbatim %}
</html>
