$primary-color-green-dark: #27AE60;
$primary-color-red-dark: #C0392B;
$primary-color-green: #2ECC71;
$primary-color-red: #E74C3C;

$primary-color: $primary-color-green;
$accent-color: #42A5F5;

$text-color: #515151;
$label-color: rgba(0, 0, 0, 0.5);
$background-color: #f0f0f0;
